
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    overflow-x:hidden;

}


body {
    background-color: black;
    color: white !important;
    
    
}

hr{
    border-color: white;
}

.puntero{
    cursor: pointer;
}

.img-circulo{
    border-radius: 100%;
    width: 150px;
}

.car-title,
.card-tex{
    color:black
}

.bage{
    margin-left: 5px;
}

.img-thumb{
    width: 50px;
    height: 50px;
}

.animated{
    -webkit-animation-duration: 0.4s;
    animation-duration:0.4s ;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.fadein{
    animation-name: fadein;
}

.fast{
    -webkit-animation-duration: 0.4s;
    animation-duration:0.4s ;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
  }

  
 